.content {
    padding: 10px;
    display: flex;
    height: calc(100vh - 120px);
}

.cartao-select {
    width: 280px;
}

.cartao-fatura {
    width: calc(100% - 20px - 300px);
    padding-left: 10px;
    height: 100%;
    flex: 1;
}

.mat-card {
    height: calc(100% - 50px);
}

.fatura-titulo {
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.fatura-titulo > .mat-icon {
    font-size: 72px;
    text-align: center;
    width: 72px;
    height: 72px;
}
.fatura-titulo > div {
    font-size: 1.4em;
}
.valor-fatura {
    margin-left: 10px;
}
.situacao-fatura {
    margin-left: 4px;
    font-size: 0.7em;
    font-weight: bolder;
    float: right;
}
.situacao-fatura.PAGO {
    color: #006600;
}
.situacao-fatura.ABERTA {
    color: #CCAA00;
}

.mat-table {
    width: 100%;
}

.mat-column-transacao_data {
    flex: 0 0 15ch!important;
    width: 15ch!important;
}

button .mat-icon {
    color: #ccc;
}

button.date .mat-icon:hover {
    color: rgb(0, 122, 204);
}

button.edit .mat-icon:hover {
    color: rgb(202, 77, 77);
}

.mat-column-transacao_valor {
    flex: 0 0 15ch!important;
    width: 15ch!important;
}

.mat-radio-label-content {
    width: 100%!important;
}

.mat-column-transacao_fatura_data {
    flex: 0 0 11ch!important;
    width: 11ch!important;
    padding-left: 0!important;
}

.mat-column-select {
    flex: 0 0 16px!important;
    width: 16px!important;
    padding-left: 0!important;
}

.resumo-fatura {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.resumo-fatura > div {
    display: inline-block;
    border: 2px solid #ccc;
    width: 21ch;
    padding: 10px;
    margin: 4px;
}

.resumo-fatura > div  > div:first-child {
    color: #ccc;
    font-size: 0.8em;
}

.cartao-fatura-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cartao-fatura-card > .resumo-fatura,
.cartao-fatura-card > .fatura-titulo {
    flex: 0 0 auto;
}

.cartao-fatura-card > .tabela-fatura {
    flex: 0 1 auto;
    overflow-y: auto;
}

.mat-form-field {
    padding-right: 4px;
}