<style>
    .form-field  {
      margin-right: 20px;
    }
    .mat-form-field {
      font-size: 14px!important;
    }
    button {
      margin: 5px;
    }
  </style>
  <h1 mat-dialog-title>{{(data.subcategoria_id === 'new') ? 'Criar nova subcategoria' : 'Editar subcategoria'}}</h1>
  <form [formGroup]="formSubcategorias">
    <mat-form-field class="form-field" style="width: 100%;">
      <mat-label>Nome da Subcategoria</mat-label>
      <input matInput placeholder="Nova Subcategoria" required formControlName="subcategoriaNome">
    </mat-form-field>
    <mat-form-field class="form-field" style="width: 100%;">
      <mat-label>Descrição da Subcategoria</mat-label>
      <input matInput placeholder="Breve descricação da Subcategoria" formControlName="subcategoriaDescricao" required>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-select placeholder="Inserir na categoria:" formControlName="categoriaId" required (selectionChange)="onChange($event.value)">
            <mat-option *ngFor="let item of listaCategorias" [value]="+item.categoria_id">
                {{item.categoria_nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%;"> 
        <mat-select placeholder="Inserir depois de:" formControlName="subcategoriaNovaOrdem" required>
            <mat-option [value]="0">(inserir na primeira linha)</mat-option>
            <mat-option *ngFor="let item of listaSubcategoriasFiltradas" [value]="+item.subcategoria_ordem + 1">
            {{item.subcategoria_nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="subcategoriaCarry" style="width: 100%;">Carregar valores negativos para o próximo mês</mat-checkbox>
    <br />
    <button mat-raised-button color="primary" (click)="editaSubcategoria()"  [disabled]="!formSubcategorias.valid">Salvar</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  </form>
  