

.sidenav-content {
    height: 100vh;
}

.sidenav-content {
    padding-top: 20px;
    padding-left: 20vw;
    padding-right: 20vw;
    width: 60vw;
    height: 100%;
    text-align: center;
    overflow: hidden;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.sidenav-menu {
    padding: 10px;
    width: 250px;
}

.button-username {
    font-size: 1.3em;
    padding-left: 5px;
    align-content: center
}