<mat-card class="diario-card">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="!loading">
      <form [formGroup]="formDiario">
        <mat-card-content>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nome do diário</mat-label>
            <input matInput placeholder="Meu diário" name="txtDiarioNome" formControlName="diarioNome" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Descrição do diário</mat-label>
            <textarea  matInput placeholder="Diário com as transações do dia-a-dia" name="txtDiarioDescription" formControlName="diarioDescription" required></textarea>
          </mat-form-field>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-stroked-button type="submit" id="btSalvar" (click)="salvaDiario()" class="button" [disabled]="formDiario.disabled">Salvar</button>
          <a routerLink="/diario/seleciona" mat-stroked-button color="warn" class="button">Cancelar</a>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>