<div class="mat-app-background basic-container">
  <mat-card class="login-card">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <div *ngIf="!loading">
      <mat-card-header>
        <mat-card-title>Seja bem vindo!</mat-card-title>
      </mat-card-header>
      
      <form>
        <mat-card-content>
          <p>Entre com suas credenciais ou faça login através da sua Conta Google</p>
          <div class="alert alert-danger" *ngIf="wrongPassword">Usuário e/ou senha inválidos.</div>
          <div class="alert alert-warning" *ngIf="inactiveUser">Usuário está inativo. Verifique seu e-mail para ativar.<br />Se você perdeu o link, use o formulário para recuperar sua senha.</div>
          <mat-form-field appearance="outline">
            <mat-label>Endereço de e-mail</mat-label>
            <input matInput placeholder="endereco@email.com" name="txtUsername" [(ngModel)]="txtUsername" required>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" type="password" name="txtPassword" [(ngModel)]="txtPassword" required>
          </mat-form-field>
          <mat-checkbox name="lembrar" [checked]=lembrar color="primary">Lembrar de mim</mat-checkbox>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" id="btLogin" [disabled]="btLoginDisabled" (click)="autentica()">Login</button>
          <button mat-raised-button color="warn" id="btForgot">Esqueci minha senha</button>
          <br /><br /><br />
          
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>