<div class="mat-toolbar-second-row">
  <span>Orçamento Mensal</span>
</div>
<div class="mat-toolbar-third-row">
    <button mat-button (click)="subtraiMes()"><mat-icon>chevron_left</mat-icon></button>
    <button mat-button (click)="dp.open()">{{orcamento_data.value | date:'MMMM-yy'}}<mat-icon>arrow_drop_down</mat-icon></button>
    <input [matDatepicker]="dp" [(ngModel)]="orcamento_data" hidden>
    <mat-datepicker #dp
      startView="year"
      (yearSelected)="chosenYearHandler($event)"
      (monthSelected)="chosenMonthHandler($event, dp)">
    </mat-datepicker>
    <button mat-button (click)="adicionaMes()"><mat-icon>chevron_right</mat-icon></button>
</div>
<div class="conteudo">
  <div class="resumo-orcamentos">
    <div class="arrow_box {{(receita_acum-orcado_acum) < 0 ? 'neg': 'pos'}}">
      <p class="valor">R$ {{(receita_acum-orcado_acum-sobregasto_mes) | number}}</p>
      <p class="legenda">(a ser distribuído)</p>
    </div>
    <div class="detalha-orcamento">
        <div class="titulo">
            <mat-icon>attach_money</mat-icon><span>Receita (para este mês):</span>
        </div>
        <div class="valor">
          <span>{{receita_mes | number:'1.2'}}</span>
        </div>
        <div class="titulo">
            <mat-icon>attach_money</mat-icon><span>Orçamento (para este mês):</span>
        </div>
        <div class="valor">
          <span>{{orcado_mes | number:'1.2'}}</span>
        </div>
        <div class="titulo">
            <mat-icon>attach_money</mat-icon><span>Sobreorçado (mês anterior):</span>
        </div>
        <div class="valor">
          <span>{{sobreorcado_mes | number:'1.2'}}</span>
        </div>
        <div class="titulo">
            <mat-icon>attach_money</mat-icon><span>Sobregasto (mês anterior):</span>
        </div>
        <div class="valor">
          <span>{{sobregasto_mes | number:'1.2'}}</span>
        </div>
    </div>
  </div>
  <div class="table-orcamentos">
    <table mat-table [dataSource]="dataSource" tableOrcamentos>
        <ng-container matColumnDef="categoria_nome">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.categoria_nome}} </td>
        </ng-container>
        <ng-container matColumnDef="subcategoria_nome">
          <th mat-header-cell *matHeaderCellDef> Categoria </th>
          <td mat-cell *matCellDef="let element"> {{element.subcategoria_nome}} <mat-icon class="r90" *ngIf="element.subcategoria_carry == '1'" matTooltip="Se você ultrapassar o valor orçado para esta categoria, os valores negativos persistirão para o próximo mês nesta categoria.">merge_type</mat-icon></td>
        </ng-container>
        <ng-container matColumnDef="orcamento_valor">
          <th mat-header-cell *matHeaderCellDef> Orçamento </th>
          <td mat-cell *matCellDef="let element"> 
            <input matInput value="{{element.orcamento_valor}}" type="number" step="0.01" *ngIf="element.subcategoria_is" name="subcategoria_{{element.subcategoria_id}}" (change)="atualizaOrcamento(element.subcategoria_id,$event)">
          </td>
        </ng-container>
        <ng-container matColumnDef="transacoes_valor">
          <th mat-header-cell *matHeaderCellDef> Transações </th>
          <td mat-cell *matCellDef="let element"> {{element.transacoes_valor | number:'1.2'}} </td>
        </ng-container>
        <ng-container matColumnDef="disponivel_valor">
          <th mat-header-cell *matHeaderCellDef style="max-width: 150px;"> Disponível </th>
          <td mat-cell *matCellDef="let element"> 
            <span class="disponivel {{element.disponivel_valor < 0 ? 'negativo' : (element.disponivel_valor > 0 ? 'positivo' : 'zero')}}" *ngIf="element.subcategoria_is">
              {{element.disponivel_valor | number:'1.2'}}
            </span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="categoriasColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: categoriasColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: subcategoriasColumns; when: isSubcategoria"></tr>
    </table>
  </div>
</div>