<div class="mat-toolbar-second-row">
  <span>Contas e Cartões</span>
</div>
<div class="mat-toolbar-third-row">
  <button mat-button (click)="openDialog('new')"><mat-icon>add</mat-icon> Adicionar conta</button>
</div>
<div class="contas-content">
  <div class="contas-summary">
      <mat-card class="contas-summary-card">
          <mat-card-content>
              <p>Contas Corrente:</p>
              <p *ngFor="let item of contasCorrente" > {{item.conta_nome}} </p>
              <p>Cartões de Crédito:</p>
              <p *ngFor="let item of contasCartao" > {{item.conta_nome}} </p>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="card-list">
    <mat-card class="card-carregando" *ngIf="contasList === undefined">
      <mat-card-header>
          <mat-card-title>Carregando...</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="card-icon">
            <mat-icon>clock-outline</mat-icon>
          </div>
          <div class="card-content">
            Por favor aguarde.
          </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-diario" *ngFor="let conta of contasList">
      <mat-card-header>
          <div class="card-title">{{conta.conta_nome}}</div>
          <div class="card-subtitle">(Última conciliação: {{conta.conta_reconciliado_data}})</div>
      </mat-card-header>
      <mat-card-content>
        <div class="card-content">
          <fusioncharts
            width="800"
            height="200"
            type="area2d"
            [dataSource]="dataSource">
          </fusioncharts>
        </div>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button (click)="openDialog(conta.conta_id, conta.conta_nome, conta.conta_descricao)" mat-button [disabled]="contasDeletadas[conta.conta_id]">EDITAR CONTA</button>
        <button mat-button (click)="deletaConta(conta)" [disabled]="contasDeletadas[conta.conta_id]">APAGAR CONTA</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
