<div class="mat-toolbar-second-row">
  <span>Contas e Cartões</span>
</div>
<div class="mat-toolbar-third-row">
  <button mat-button (click)="openDialog('new')"><mat-icon>add</mat-icon> Adicionar conta</button>
</div>
<div class="contas-content">
  <div class="contas-summary">
      <p class="conta_titulo">Contas Corrente</p>
      <mat-card class="carregando" *ngIf="contasList === undefined">
          <mat-icon>schedule</mat-icon>
          <p class="conta_saldo">R$ {{0 | number:'1.2'}}</p>
          <p class="conta_nome">carregando...</p>
          <button mat-stroked-button><mat-icon>search</mat-icon>VER DETALHE</button>
      </mat-card>
      <mat-card *ngFor="let item of contasCorrente" >
        <mat-icon>account_balance_wallet</mat-icon>
        <p class="conta_saldo">R$ {{item.conta_saldo | number:'1.2'}}</p>
        <p class="conta_nome">{{item.conta_nome}}</p>
        <button (click)="openDetail(item)" mat-stroked-button color="primary"><mat-icon>search</mat-icon>VER DETALHE</button>
      </mat-card>
      <p class="conta_titulo">Cartões de Crédito</p>
      <mat-card *ngFor="let item of contasCartao" >
        <mat-icon>credit_card</mat-icon>
        <p class="conta_saldo">R$ {{item.conta_saldo | number:'1.2'}}</p>
        <p class="conta_nome">{{item.conta_nome}}</p>
        <button (click)="openDetail(item)" mat-stroked-button color="primary"><mat-icon>search</mat-icon>VER DETALHE</button>
      </mat-card>
  </div>
  <div class="card-list">
    <p class="conta_titulo">Detalhe da conta</p>
    <ng-container *ngIf="contasList === undefined || carregandoConta">
      <mat-card class="card-carregando">
        <mat-card-header>
            <mat-card-title>Carregando...</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="card-icon">
              <mat-icon>clock-outline</mat-icon>
            </div>
            <div class="card-content">
              Por favor aguarde.
            </div>
          </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="contaDetalhe !== undefined">
      <mat-card class="card-diario" [ngClass]="{'escondido': carregandoConta}">
        <mat-card-header>
            <div class="card-title">{{contaDetalhe.conta_nome}} {{(contaDetalhe.conta_cartao.toString() == '1' ? '(Cartão de Crédito)' : '(Conta Corrente)')}}</div>
            <div class="card-subtitle">(Última conciliação: {{contaDetalhe.conta_reconciliado_data}})</div>
        </mat-card-header>
        <mat-card-content>
          <div class="chart-container">
              <canvas #lineChart width="1000px">{{ chart }}</canvas>
          </div>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-stroked-button color="primary" (click)="openDialog(contaDetalhe.conta_id, contaDetalhe.conta_nome, contaDetalhe.conta_descricao)" [disabled]="contasDeletadas[contaDetalhe.conta_id]"><mat-icon>edit</mat-icon>EDITAR CONTA</button>
          <button mat-stroked-button color="warn" (click)="deletaConta(contaDetalhe)" [disabled]="contasDeletadas[contaDetalhe.conta_id]"><mat-icon>delete</mat-icon>APAGAR CONTA</button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>
