.mat-card-header {
    width: 100%;
    text-align: center;
    display: block;
}

.card-title {
    width: 300px;
    font-weight: bold;
    color:#777;
}

.card-subtitle {
    width: 300px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding-top: 3px;
    padding-bottom: 5px;
    font-size: 0.8em;
    color: #999;
}

.card-carregando {
    width: 300px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    color: #ccc;
}
.card-diario {
    width: 300px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
}
.card-novo-diario {
    width: 295px;
    height: 150px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    border-style: dotted;
    border-color: #ccc;
    background: transparent;
    text-align: center;
}
.card-novo-diario > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 150px;
    color: #aaa;
}
.mat-card-title {
    font-size: 1.2em;
    font-weight: bold;
}

.card-icon {
    display: inline-block;
    font-size: 0.8em;
    padding-right: 10px;
    width: 70px;
    vertical-align: top;
}

.card-content {
    display: inline-block;
    width: 220px;
    vertical-align: top;
}

.card-actions {
    position: absolute;
    bottom: 30px;
}