<div class="mat-toolbar-second-row">
  <span>Meus diários</span>
</div>
<div class="mat-toolbar-third-row">
  <button mat-button (click)="openDialog('new')"><mat-icon>add</mat-icon> Adicionar novo diário</button>
</div>
<div class="content">
  <p>Dários são utilizados como uma espécie simplificada de livros contábeis para seus orçamentos e movimentações financeiras. <br />
    Tipicamente você precisará de apenas um diário: aquele que você utilizará para administrar suas contas e despesas pessoais.<br />
    Porém nada te impede de ter mais de um diário para cenários ou mesmo segregar suas contas pessoais de suas contas jurídicas.
  </p>
  <p><b>Para continuar, por favor selecione um diário:</b></p>
  <mat-card class="card-carregando" *ngIf="diariosList === undefined">
    <mat-card-header>
        <mat-card-title>Carregando...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-icon">
          <mat-icon>clock-outline</mat-icon>
        </div>
        <div class="card-content">
          Por favor aguarde.
        </div>
      </mat-card-content>
  </mat-card>
  <mat-card class="card-diario" *ngFor="let diario of diariosList">
    <mat-card-header>
        <div class="card-title">{{diario.diarioNome}}</div>
        <div class="card-subtitle">(Última atualização: dd/mm/aaaa)</div>
    </mat-card-header>
    <mat-card-content>

      <div class="card-content">
        {{diario.diarioDescription}}
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button (click)="selecionaDiario(diario)" [disabled]="diariosDeletados[diario.diarioUID]">ABRIR</button>
      <button mat-button (click)="openDialog(diario)" [disabled]="diariosDeletados[diario.diarioUID]">EDITAR</button>
      <button mat-button (click)="deletaDiario(diario)" [disabled]="diariosDeletados[diario.diarioUID]">APAGAR</button>
    </mat-card-actions>
  </mat-card>
</div>