<div class="alert alert-warning" *ngIf="diariosList == false">Nenhum diário encontrado!</div>
<div>
  <mat-card class="card-carregando" *ngIf="diariosList === undefined">
    <mat-card-header>
        <mat-card-title>Carregando...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="card-icon">
          <fa-icon [icon]="['far', 'clock']" size="6x"></fa-icon>
        </div>
        <div class="card-content">
          Por favor aguarde.
        </div>
      </mat-card-content>
  </mat-card>
  <mat-card class="card-diario" *ngFor="let diario of diariosList">
    <mat-card-header>
        <mat-card-title>
          {{diario.diarioNome}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-icon">
        <fa-icon [icon]="['far', 'list-alt']" size="6x"></fa-icon>
      </div>
      <div class="card-content">
        {{diario.diarioDescription}}
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions">
      <button mat-button>ABRIR</button>
      <a routerLink="/diario/edit/{{diario.diarioUID}}" mat-button>EDITAR</a>
      <button mat-button>APAGAR</button>
    </mat-card-actions>
  </mat-card>
  <a routerLink="/diario/edit/new">
    <mat-card class="card-novo-diario" *ngIf="diariosList != undefined">
      <span>+ novo diário</span>
    </mat-card>
  </a>
</div>